/* rem and em don't depend on html font-siz in media queries. 
1rem = 1em = 16px
1344px/16 = 84em
*/

/* Bellow 1344px (smaller desktops) */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .primary-heading {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bellow 1200px (Land scape tablests) */

@media (max-width: 75em) {
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  html {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .testemonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* Bellow 1200px (tablests) */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .text-box-hero,
  .img-hero-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logo-img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .content-meal {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testemonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
}
